{#
/**
 * @file
 * Default theme implementation to display a single Wistia video.
 *
 * Available variables:
 * - video_id: The Wistia video id.
 * - player_settings: Array of settings based on the global configuration.
 *
 * @ingroup themeable
 */
#}

{% if video_id %}
  <div class="wistia_video wistia_embed wistia_async_{{ video_id }}" data-wistia-video-id="{{ video_id }}">&nbsp;</div>
{% else %}
    <span>Invalid video link. It should be like <strong> https://my_account.wistia.com/medias/id .</strong></span>
{% endif %}
